<div class="home container">
  <section class="home_portrait">
    <!-- <img
      class="portrait_mobile_img"
      src="../../../assets/imgs/home/portrait.jpeg"
      width="200px"
      alt="mobile"
    /> -->
    <div class="home_portrait_info">
      <div class="home_portrait_info_ctx">
        <h1 class="home_portrait_info_ctx_title">
          Entrenamiento funcional conjugado
        </h1>
        <p class="home_portrait_info_ctx_text">
          Entrenamiento en el gimnasio en casa
        </p>
        <button class="button">Empezar Ya</button>
      </div>
    </div>
  </section>

  <section class="home_programs m_medium">
    <h2 class="home_programs_title">
      La <span class="title_special">última</span> rutina de entrenamiento que
      ocupas
    </h2>
    <p class="home_programs_text">
      Programas de entrenamiento que utilizan una combinación de los métodos más
      efectivos para que estés en tu mejor forma física durante todo el año.
    </p>

    <div class="home_programs_grid m_small">
      <div class="home_programs_grid_box">
        <h3 class="home_programs_grid_box_title">Masa muscular</h3>
        <li class="home_programs_grid_box_ancor">
          Conocer más <span><i class="fas fa-angle-right icon_arrow"></i></span>
        </li>
      </div>
      <div class="home_programs_grid_box">
        <h3 class="home_programs_grid_box_title">Longevidad</h3>
        <li class="home_programs_grid_box_ancor">
          Conocer más <span><i class="fas fa-angle-right icon_arrow"></i></span>
        </li>
      </div>
      <div class="home_programs_grid_box">
        <h3 class="home_programs_grid_box_title">Fuerza & Capacidad</h3>
        <li class="home_programs_grid_box_ancor">
          Conocer más <span><i class="fas fa-angle-right icon_arrow"></i></span>
        </li>
      </div>
      <div class="home_programs_grid_box">
        <h3 class="home_programs_grid_box_title">Todos los Programas</h3>
        <li class="home_programs_grid_box_ancor">
          Conocer más <span><i class="fas fa-angle-right icon_arrow"></i></span>
        </li>
      </div>
    </div>
  </section>

  <section class="about_me m_medium">
    <div class="about_me_info">
      <h3 class="about_me_info_title">Hola, me llamo Mario Perez</h3>
      <p class="about_me_info_text">
        Llevo más de 23 años en el mundo de la fuerza y el acondicionamiento,
        combinando mi experiencia personal como deportista con miles de horas
        entrenando a personas en clases grupales y sesiones personalizadas.
      </p>
      <p class="about_me_info_text">
        Mis programas están basados en métodos de entrenamiento probados.
        Mantenemos las cosas simples y efectivas, priorizando los movimientos
        que realmente marcan la diferencia: aquellos que te harán más fuerte, te
        ayudarán a desarrollar músculo, reducir grasa y mejorar tu capacidad de
        trabajo.
      </p>
    </div>
    <div class="about_me_image">
      <img
        class="about_me_img"
        src="../../../assets/imgs/home/me.jpeg"
        width="240px"
      />
    </div>
  </section>

  <section class="youtube m_medium">
    <h2 class="youtube_title">
      Sígueme en <span class="title_special">Youtube</span>
    </h2>
    <div class="youtube_grid">
      <div class="youtube_grid_box">
        <img
          src="../../../assets/imgs/home/youtube_1.jpeg"
          class="youtube_grid_box_img"
          width="80px"
          alt="youtube_1"
        />
        <div class="youtube_grid_box_info">
          <h3 class="youtube_grid_box_info_title">
            Lo que necesitas hacer de tu Gym en casa
          </h3>
          <p class="youtube_grid_box_info_text">
            En este video, explico cómo hacer que su Gym en casa sea más
            amigable.
          </p>
          <li class="">
            Conocer más
            <span><i class="fas fa-angle-right icon_arrow"></i></span>
          </li>
        </div>
      </div>
      <div class="youtube_grid_box">
        <img
          src="../../../assets/imgs/home/youtube_2.jpeg"
          class="youtube_grid_box_img"
          width="80px"
          alt="youtube_2"
        />
        <div class="youtube_grid_box_info">
          <h3 class="youtube_grid_box_info_title">
            Lo que necesitas hacer de tu Gym en casa
          </h3>
          <p class="youtube_grid_box_info_text">
            En este video, explico cómo hacer que su Gym en casa sea más
            amigable.
          </p>
          <li class="">
            Conocer más
            <span><i class="fas fa-angle-right icon_arrow"></i></span>
          </li>
        </div>
      </div>
      <div class="youtube_grid_box">
        <img
          src="../../../assets/imgs/home/youtube_3.jpeg"
          class="youtube_grid_box_img"
          width="80px"
          alt="youtube_3"
        />
        <div class="youtube_grid_box_info">
          <h3 class="youtube_grid_box_info_title">
            Lo que necesitas hacer de tu Gym en casa
          </h3>
          <p class="youtube_grid_box_info_text">
            En este video, explico cómo hacer que su Gym en casa sea más
            amigable.
          </p>
          <li class="">
            Conocer más
            <span><i class="fas fa-angle-right icon_arrow"></i></span>
          </li>
        </div>
      </div>
    </div>
  </section>

  <section class="m_small"></section>
</div>
