<footer class="footer">
  <div class="footer_content container">
    <section class="footer_content_logo">
      <!-- LOGO -->
      <img
        src="../../../assets/svg/logo_common.svg"
        width="500px"
        routerLink="/"
        class="footer_content_logo_img"
        alt="logo_footer"
      />
      <!-- END LOGO -->
    </section>

    <section class="links">
      <div class="links_list">
        <p class="links_list_title">Servicios</p>
        <ul>
          <li class="links_list_router" routerLink="/hardware">Hardware</li>
          <li class="links_list_router" routerLink="/services">Servicios</li>
          <li class="links_list_router" routerLink="/cloud">Cloud</li>
          <li class="links_list_router" routerLink="/finance">Finanzas</li>
        </ul>
      </div>

      <div class="links_list">
        <p class="links_list_title">Páginas</p>
        <ul>
          <li class="links_list_router" routerLink="/">Inicio</li>
          <li class="links_list_router" routerLink="/contact">Contáctanos</li>
          <li class="links_list_router" routerLink="/about">Nosotros</li>
        </ul>
      </div>

      <div class="links_list">
        <p class="links_list_title">Sobre</p>
        <ul>
          <li class="links_list_router">Términos y condiciones</li>
          <li class="links_list_router">Política de empresa</li>
        </ul>
      </div>

      <div class="links_list">
        <p class="links_list_title">Nuestras redes</p>
        <ul class="social_media_list">
          <li><i class="fa-brands fa-facebook"></i></li>
          <li><i class="fab fa-instagram-square"></i></li>
          <li><i class="fab fa-whatsapp-square"></i></li>
        </ul>
      </div>
    </section>

    <!-- <app-social-media [positionCentered]="true" /> -->
  </div>

  <section class="copyright mt-5">
    <p>© Map Soluciones. Todos los derechos reservados</p>
  </section>
</footer>
