.footer {
  background-color: var(--footer);
}

// Image
.footer_ctx {
  padding: 5rem 1rem;
}
.footer_ctx_image {
  border-radius: var(--border_radius);
  background-color: var(--black);
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.8)
    ),
    url("../../../assets/imgs/footer/footer.jpeg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  height: 80rem;
  position: relative;

  @media (min-width: 768px) {
    height: 60rem;
  }

  .footer_ctx_image_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20rem;
  }
}
.footer_ctx_image_div_subtitle {
  color: var(--light);
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}
.footer_ctx_image_div_title {
  color: var(--white);
  font-size: 3.2rem;
  font-weight: 700;
  margin-top: 0;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 4.2rem;
  }
}

// link
.footer_links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}
.footer_links_ul {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}
.footer_links_ul_li {
  color: var(--light);
  margin-bottom: 2rem;

  @media (min-width: 768px) {
    margin-bottom: unset;
    margin-right: 3rem;
  }
}
.footer_links_ul_li_ancor {
  color: var(--light);
}

// copyright
.copyright {
  display: flex;
  justify-content: center;
  padding: 0rem 4rem 3rem 4rem;
  width: 100%;

  p {
    color: var(--light);
    font-size: 1.4rem;
    margin-bottom: 0;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 1.6rem;
    }
  }
}
